<div class='container restaurant'>
  <% @restaurants.each_with_index do |restaurant, index| %>
     <%= link_to "#{index + 1}. #{restaurant.name}", restaurant_path(restaurant) %>
    <p><%= restaurant.address %></p>
    <p><%= "Tel: #{restaurant.phone_number}" %></p>
    <p><%= restaurant.category %></p>
    <h4>Reviews</h4>
    <% arr = [] %>
    <% restaurant.reviews.each do |review| %>
      <% arr << review.rating %>
      <% end %>
      <p>Rating: <%= average = arr.inject { |sum, elem| sum + elem}.to_f / arr.size %></p>
  <% end %>
  <br>
  <%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary"%>
  <br>
  <br>
  <br>

</div>

